@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #F86B2E;
  --background-color: #F8F8F8;
  --secondary-color: #F0F0F0;
  --border-color: #E5E5E5;
}


*, body, html {
  box-sizing: "border-content";
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--foreground-color);
}

